@import url("global.css");
@import url("header.css");
@import url("footer.css");
@import url("formulario.css");


#contato {
  background: linear-gradient(#570A57 20px, #FF8D29 700px, #ffffff 0);
};

.principal{
  max-width: 1200px;
  margin: 0 auto;
}

.titulo-bg {
  padding-top: 2.625rem;
  padding-bottom: 3.75rem;
}

.titulo-p {
  margin-bottom: 1.875rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #ffffff;
}

.titulo-bg h1 {
  font-size: 3rem;
  color: #ffffff;
}


.contato {
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.contato-dados,
.contato-formulario {
  padding: 60px;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 33%);
}

.contato-dados {
  border-radius: 5px 0 0 5px;
  background: #323232;
}

.contato-formulario {
  border-radius: 0 5px 5px 0;
  background: #ffffff;
}

.contato-formulario h2 {
  margin-bottom: 2.25rem;
}

.contato-dados h2 {
  margin-bottom: 60px;
  color: #ffffff;
}

.contato-endereco {
  margin-bottom: 32px;
  padding-left: 28px;
  background: url("/img/icones/local.svg") no-repeat 0px 2px;
  color: #ffffff;
}

.contato-endereco p {
  margin-bottom: 8px;
}

.contato-meios a {
  color: #ffffff;
  font-style: normal;
  display: block;
  max-width: max-content;
  margin-bottom: 8px;
  padding-left: 28px;
}

.contato-meios a:hover {
  color: #ff8d00;
}

.contato-meios a:first-child {
  background: url("/img/icones/email.svg") no-repeat 0px 2px;
}

.contato-meios a:nth-child(2) {
  margin-bottom: 32px;
}

.contato-meios a:nth-child(3) {
  background: url("/img/icones/telefone.svg") no-repeat 0px 2px;
  margin-bottom: 60px;
}

.contato-redes {
  display: flex;
  gap: 32px;
  padding-left: 28px;
}

.botao-col-2 {
  background-color: #ff8d00;
  color: #ffffff;
  padding: 1rem 1.25rem;
  font-size: 1.2rem;
  border: 0.0625rem solid #ff8d00;
  border-radius: 0.25rem;
  font-weight: bold;
}

.botao-col-2:hover {
  background-color: #e04d01;
  color: #ff8d00;
}

@media (max-width: 800px) {
  .contato {
    grid-template-columns: 1fr;
  }
  .contato-dados,
  .contato-formulario {
    padding: 20px;
  }
  .contato-dados {
    border-radius: 5px 5px 0 0;
    background: #ff8d00;
  }
  .contato-formulario {
    border-radius: 0 0 5px 5px;
  }
  .contato-dados h2,
  .contato-meios a:nth-child(3) {
    margin-bottom: 32px;
  }
  .contato-redes {
    margin-bottom: 12px;
  }
}
