.header {
  width: 100%;
  display: block;
  border-bottom: #141414 solid 0.0625rem;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 33%);
  background: #ffffff;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.625rem;
}

.container {
  max-width: 1200px;
  padding: 0 0.625rem;
  margin: 0 auto;
}

.header-logo {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  align-items: center;
  padding: 0.3rem;
}

.header-logo img {
  display: block;
  max-width: 100%;
}

.header-logo p {
  font-weight: bold;
  text-transform: uppercase;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  justify-content: center;
}

.header-menu a {
  font-size: 1.3rem;
  line-height: 1.3;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
  color: #141414;
  display: block;
  list-style: none;
}

.header-menu li:hover{
  text-decoration: underline;  
}

.header-menu li:nth-child(5){
  text-decoration: none;  
}


.header-menu button {
  border: none;
  border-radius: 1.5rem;
  background-color: #ffcd38;
  color: #ffffff;
  padding: 0 1.2rem;
}

.header-menu button:hover {
  background-color: #ff8d29;
  color: white;
  transition-duration: 0.4s;
}


@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    padding: 12px 16px;
    border-radius: 4px;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}