@import url("global.css");
@import url("header.css");
@import url("footer.css");
@import url("formulario.css");
@import url("contato.css");

#contato-conosco {
  background: linear-gradient(#570a57 20px, #ff8d29 800px, #ffffff 0);
}

.principal {
  max-width: 1200px;
  margin: 0 auto;
}

.introducao h1 {
  font-size: 3rem;
  color: #ffffff;
}

.introducao p {
  padding-top: 1.25rem;
  font-size: 1.2rem;
  color: #ffffff;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 5rem 0;
  align-items: center;
  justify-items: center;
}

.introducao img {
  align-items: center;
}

.valores {
  padding-top: 1.875rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 3.75rem;
}

.valores h2 {
  font-size: 2rem;
  padding-top: 9.375rem;
}

.valores-item {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 1.875rem;
  padding: 0 6.25rem;
}

.item {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1.25rem;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 15%);
  color: gray;
}

.empresa {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contato-formulario {
  display: grid;
  grid-template-columns: 5fr 7fr;
  gap: 2.5rem;
  align-items: center;
}

.contato-katz {
  text-align: justify;
}

.contato-katz h2 {
  color: #ff8d29;
}

@media (max-width: 1200px) {
  .principal {
    padding: 0 20px;
  }

  .introducao {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .introducao img {
    align-items: center;
    padding: 40px 0;
  }
}

@media (max-width: 900px) {
  .introducao {
    grid-template-columns: 1fr;
    align-items: center;
    padding: 60px 0;
  }
  #contato-conosco {
    background: linear-gradient(#570a57 20px, #ff8d29 800px, #ffffff 0);
  }

  .contato-formulario {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    align-items: center;
  }
}

@media (max-width: 600px) {
  #contato-conosco {
    background: linear-gradient(#570a57 20px, #ff8d29 700px, #ffffff 0);
  }
}
